<form class="edit" action="/games/<%=@game.id()  %>" method="post">

  <label for="name">Name:</label>
  <input id="Name" type="text" name="name" value="<%= @game.name() %> " />
  <br />
  <label for="owner">Owner:</label>
  <input id="owner" type="text" name="owner" value="<%= @game.owner() %> " />
  <br />
  <label for="genre_id">Genre:</label>
  <select name="genre_id" id="genre_id">
  <% @genres.each do |genre| %>
    <option value=<%= genre.id %>><%= genre.genre%></option>
  <% end %>
</select>
<br />
  <label for="player_count_id">Player Count:</label>
  <select name="player_count_id" id="player_count_id" value="<%=PlayerCount.find(@game.player_count_id)%>">
      <% @player_counts.each do |player_count| %>
        <option value=<%= player_count.id %>><%= player_count.player_count%></option>
      <% end %>
    </select>
    <br />
  <label for="play_time_id">Play Time:</label>
  <select name="play_time_id" id="play_time_id" value="<%=PlayTime.find(@game.play_time_id)%>">
      <% @play_times.each do |play_time| %>
        <option value=<%= play_time.id %>><%= play_time.play_time%></option>
      <% end %>
    </select>
  <br />
  <input type="submit" value="Update Game" />
</form>
