<form class="edit" action="/games/<%=@game.id()  %>" method="post">

  <label for="name">Name:</label>
  <input id="Name" type="text" name="name" value="<%= @game.name() %> " />

  <label for="owner">Owner:</label>
  <input id="owner" type="text" name="owner" value="<%= @game.owner() %> " />

  <label for="genre">Genre:</label>
  <input type="text" name="genre" value="<%=@game.genre()  %>">

  <label for="player_count">Player Count:</label>
  <input id="player_count" type="number" name="player_count" value="<%=@game.player_count()  %>"/>

  <label for="play_time">Play Time:</label>
  <input type="number" name="play_time" value="<%=@game.play_time()  %>">

  <input type="submit" value="Update Game" />

</form>
