<a class="new_game" href="/games/new">Add new game</a>

<% for game in @games %>
<section class="entry">
<p>Name: <%= game.name() %> </p>
<p>Times Played: <%=game.times_played() %></p>
<p>Genre: <%=game.genre()  %></p>
<p>Player Count:
<%=game.player_count()  %></p>
<p>Play Time: <%=game.play_time()  %></p>

<a href="/games/<%=game.id()%>">Show Detail</a>
</section>
<% end %>
