<section class="entry">
  <p>Game: <%=@loan.game.name%></p>
<p>Borrower: <%=@loan.customer.name  %></p>
<p>Day Borrowed: <%= @loan.day_borrowed %></p>
<p>Returned: <%= @loan.returned%></p>
<form class="" action="/loans/<%=loan.id%>/check-in" method="post">
  <input type="submit" value="Return Game" />
</section>
</form>
